
<h3>What do you have?</h3>
<form action="/search-ingredient" method="post">
<p>Hello</p>
<label for="Name"> Ingredient:
  <input type="text" name="name" required>
</label>
<input type="submit" value="Submit">
</form>

