

<div class = "row">
  <div class = "col-4">
    <div class = "title"><h1>Feed-Me Fridge</h1></div>
    <div>
      <img class = "fridge-logo" src="https://www.applianceservices.co.nz/sites/applianceservices.co.nz/files/refrigerator-fridge-freezer.png" width = 200>
    </div>
  </div>
  <div class= "col-8">
    <h3>What ingredient have you got?</h3>

    <form action="/search-ing" method="post">
    <label for="Name"> Ingredient: </label>
    <select name="name", id = 'id' multiple>
      <option id = '1', name="chicken">chicken</option>
      <option id = '2', name="courgette">courgette</option>
      <option id = '3', name="onion">onion</option>
    </select>
    <input type="submit" value="Feed Me!">
    </form> 
  </div>
</div>
