<div class = "row">
  <div class = "col-4">
    <div class = "title"><h1>Hmmmm...</h1></div>
    <div>
      <img class = "fridge-logo" src="https://cdn0.iconfinder.com/data/icons/food-and-drinks-2-6/65/198-512.png" width = 200>
    </div>
    <div>
        <a class = "home-link" href="/">home</a>
    </div>
    <br>
  </div>

  <div class= "col-8">
   {{!-- {{#each }}

   {{/each}} --}}

    
  </p>
  </div>
</div>

