<div class = "row">
  <div class = "col-4">
    <div class = "title"><h1>OM-NOM-NOM...</h1></div>
    <div>
      <img class = "fridge-logo" src="https://cdn2.iconfinder.com/data/icons/japan-culture-and-landmark/57/ramen-512.png" width = 200>
    </div>
       <div>
        <a class = "home-link" href="/">home</a>
    </div>
    <br>
  </div>
  <div class= "col-8">
    <h3>{{title}}</h3>
    <p>
      <b>Ingredients</b>
      <br>
      {{ingrediants}}
    </p>
  <p>
    <b>Recipe method:</b>
    <br>
   {{methods}}

  </p>
  </div>
</div>

