<div class = "row">
  <div class = "col-4">
    <div class = "title"><h1>OM-NOM-NOM...</h1></div>
    <div>
      <img class = "fridge-logo" src="https://cdn2.iconfinder.com/data/icons/japan-culture-and-landmark/57/ramen-512.png" width = 200>
    </div>
       <div>
        <a class = "home-link" href="./">home</a>
    </div>
    <br>
  </div>
  <div class= "col-8">
    <h3>Recipe Name</h3>
  <p>
    <b>Recipe method:</b>
    Terrakion xatu beheeyem diglett simipour hitmonchan stoutland mudkip unown chikorita.

Hitmonchan pachirisu kirlia armaldo suicune lillipup voltorb terrakion buneary venomoth.

Shellos chinchou and hippopotas eevee dugtrio misdreavus tirtouga finneon scyther.

Metapod starly hypno gligar dusclops gigalith whismur dugtrio azelf gabite.

Panpour muk spearow kingler sceptile croagunk groudon kabutops electrike meloetta.

  </p>
  </div>
</div>
