* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.row {
    width: 100%;
    margin-bottom: 20px;
    display: flex; flex-wrap: wrap;
}
.grid {
    margin: 0 auto;
    margin-top: 30px;
    max-width: 960px;
    width: 100%;
}
.col-1 { width: 8.33%
}
.col-2 { width: 16.66%
}
.col-3 { width: 25%
}
.col-4 { width: 33.33%;
    background-color: rgb(82, 133, 175);
    border-radius: 5px 0px 0px 5px;
    text-align: center;
}
.col-5 { width: 41.66%
}
.col-6 { width: 50%
}
.col-7 { width: 58.33%
}
.col-8 { width: 66.66%;
    background-color: rgb(130, 158, 182);
    border-radius: 0px 5px 5px 0px;
    text-align: center;
    padding-top: 50px;
}
.col-9 { width: 75%
}
.col-10 { width: 83.33%
}
.col-11 { width: 91.66%
}
.col-12 { width: 100%
}

.fridge-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px
}
body{
    font-family: 'Lato', sans-serif;
    font-size: 20px
}
.title{
    /*font-family: 'Gochi Hand', cursive;*/
    font-family: 'Amatic SC', cursive;
    text-align: center;
    font-size: 30px;
    color: white
}
.home-link {
    font-family: 'Amatic SC', cursive;
    text-align: center;
    font-size: 25px;
    color: white;
}
.col-8 select {
    vertical-align: top;
    background-color: rgb(130, 158, 182);
    color: #fff;
    padding: 10px;
    height: 50px;
    width: 120px;
    border: none;
    font-size: 15px;
    box-shadow: 0 5px 25px rgba(0,0,0,.5);
    outline: none
}